
obsolete/

# ignore Python temporary files
.ipynb_checkpoints/
__pycache__/

# ignore typical data files
*.dat

# ignore compressed files
*.zip
*.tar.gz

# ignore image files
*.pdf
*.dvi
*.eps
*.fig
*.jpg
*.png
